.page {
  position: relative;
}

h4bis {
  padding: 0 0 0 1cm;
  border-bottom: 3px solid green;
  display: block;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0mm;
}

/*
 *
 * Common to many things
 *
 */
h4 {
  padding: 0 0 0 1cm;
  border-bottom: 3px solid green;
  display: block;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0mm;
}
ul {
  margin: 1mm 0 1mm 0;  /* top, right, bottom, left */
}
/* most often, I don't want to see list bullets */
li {
  list-style-type: none;  /* hide <LI> bullets */
}
/* ... except if inside a <ul class="w-bullets"> */
ul.w-bullets li {
  list-style-type: disc;
}

/* all <label> contained inside <UL class="w-label-7"> would have a right aligned text */
ul.w-label label ,
ul.w-label-7 label {
  text-align: right;
  font-weight: bold;
}
/*ul.w-label-7 label:after {
  content: ": ";
}*/
ul.w-label li span ,
ul.w-label-7 li span {
  display: inline-block;
  border-left: 3px solid white;
  margin-left: 2mm; /* with extra space around the left-border */
  padding-left: 2mm;
}
ul.w-label li span ,
ul.w-label label ,
ul.w-label-7 li span ,
ul.w-label-7 label {
  padding-top: 1mm;
  padding-bottom: 1mm;
}
ul.grey {
  background-color: #CCC;
}

/*
 *
 * <header> containing "#job", "#contact" and "#photo" objects
 *
 */
#job {
  padding-top: 1cm;
  margin-bottom: 1cm;
  position: relative;
}
#job .title {
  display: inline-block;  /* doing so, the width is automatically adjusted */
  text-transform: uppercase;
  background-color: green;
  color: white;
  margin: 0;
  padding: 2mm 2mm 2mm 10mm;     /* order: top, right, bottom and left */
}
#job .subtitle {
  display: block;
  padding-left: 10mm;
  color: green;
}

#contact {
  position: absolute;
  /* relative to the parent with "position:relative;" property, which is '.page' */
  right: 1cm;
  top: 1cm;
  width: 6cm;
  text-align: right;
}

#contact h4,
#contact li > i > label { /* oui, je fais disparaître les <label> */
  display: none;
}

#contact h1 ,
#contact ul {
  margin: 0;
}

#contact h1 ,
#contact .email ,
#contact .phone {
  color: green;
}

#photo {
  display: none;
}
header.with-photo #contact {
  right: 4cm;
}
header.with-photo #photo {
  display: block;
  position: absolute;
  width: 3cm;
  top: 0.5cm;
  right: 0.5cm;
}

/*
 * Header of the 2nd page
 */
.pageheader {
  border-bottom: 1px solid green;
  margin: 0.5cm;
}

/*
 *
 * EXPERIENCES
 *
 */
#experiences h4 {
  margin-top: 1cm;
}
.xp {
  margin: 4mm 0mm;
  position: relative;
  padding-left: 2.5cm;
  z-index: 1;
}
.xp .date {
  width: 2.5cm;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #CCC;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 2mm;
  z-index: -1;
}
/* To center the date vertically is not "easy" in CSS.
 * I use a trick top=50% + negative margin-top of half the size.
 * Not perfect but it seems to work...
 */
.xp .date {
  top: 50%;
  margin-top: -4.4mm;
}
.xp .job {
  padding: 2mm;
  box-sizing: border-box;
  width: 17.5cm;
  display: inline-block;
  border-left: 3px solid green;
  padding-left: 3mm;
  z-index: 2;
}
.xp .job .title {
  font-weight: bold;
}
.xp .job .empl {
  font-style: italic;
}
.xp .job ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}
.xp .job li {
  margin: 1mm 0mm;
  text-indent: -2.75mm;
  padding-left: 3mm;
}
.xp .job li:before {
  content: "- ";
}
.xp .job li.keywords {
  list-style: none;
}



/*
 *
 * The end, using two columns
 *
 */

#two-columns {
  margin-top: 1cm;
}
#two-columns > section {
  width: 48%;
}
#education ul {
  padding-left: 7mm;
}
#interests-languages h4 {   /* special case for the right column */
  padding-left: 0;
}

#interests-languages ul > li > span {
  border-left-color: green;
  margin-left: 1ex;
}

#interests-languages ul > li > label {
  background-color: #CCC;
  padding-right: 1ex;
}
ul#interests {
  padding-left: 7mm;
}
ul#languages {
  padding-left: 0;
}



/*
 * for CV2
 */
#bandeau {
  margin-top: 3cm;
}
#left-colonne {
  width: 25%;
}
#right-colonne {
  width: 73%;
}
